<launch>
	<node pkg="motor_serialcom_wzc" name="serial" type="motor_serialcom" output="screen"/>
	<node pkg="motor_serialcom_wzc" name="action" type="action" output="screen"/>
	<node pkg="motor_serialcom_wzc" name="SimOdometry" type="SimOdometry" output="screen"/>
	<node pkg="motor_serialcom_wzc" name="camera" type="camera_tf" output="screen"/>
	<node pkg="rviz" name="rviz" type="rviz" output="screen"/>
</launch>
